*.exe*
*/bin
*/obj
obj/*
*/Properties
outdir/*
kilder/*
Program/Projekt/Projekt.sln
Program/Projekt/Projekt.userprefs
Program/Projekt/Projekt/Projekt.csproj
Program/Projekt/Projekt/Properties/
Program/Projekt/Projekt/obj/
